* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: rgb(249, 252, 255);
    color: #333;
}

a {
    text-decoration: none;
    color: #ffffff;
    transition: color 0.3s;
}

a:hover {
    color: rgb(221, 199, 169);
}

.container {
    width: 80%;
    margin: auto;
}

.header {
    background-color: rgb(94, 37, 37);
    padding: 9px;
    border-bottom: solid 2px rgb(0, 0, 0);
    position: fixed;
    width: 100%;
    top: 0;
}

.societe-name {
    color: rgb(163, 132, 88);
}

.logo {
    font-size: large;
    font-weight: bold;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif cursive;
    color: rgb(221, 199, 169);
}

.nav {
    color: rgb(94, 37, 37);
}

.hero {
    background-color: rgba(157, 252, 255, 0.15);
    align-items: center;
    text-align: center;
    padding: 250px;
    display: flex;
    border-bottom: teal 1px solid;
}

.hero h1 {
    font-size: 70px;
    color: rgb(94, 37, 37);
}

.hero p {
    font-size: 20px;
    color: #686868;
}

.salons {
    padding: 80px 0;
    background-color: #ffffff;
}

.salons h2 {
    text-align: center;
    font-size: 30px;
    margin-bottom: 50px;
}

.salon-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minimax(280px, 1fr));
    gap: 30px;
}

.salon-card {
    background-color: #ffffff;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 10px 30px rgb(94, 37, 37);
    transition: transform 0.3s, box-shadow 0.3s;
}

.salon-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 20px 40px rgba(0, 212, 219, 0.15);
}

.salon-card img {
    width: 100%;
    height: 220px;
    object-fit: cover;
}

.salon-info {
    padding: 20px;
    text-align: center;
}

.salon-info h3 {
    color: #333;
    margin-bottom: 10px;
}

.about {
    background-color: rgba(157, 252, 255, 0.15);
    padding: 80px 0;
    text-align: center;
    border: teal 1px dashed;
}

.about h2 {
    font-size: 35px;
    margin-bottom: 20px;
    color: #333;
}

.about p {
    color: #686868;
}

.contact {
    text-align: center;
    padding: 80px 0;
}

.contact h2 {
    font-size: 35px;
    margin-bottom: 20px;
}

.contact p {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.contact-number {
    background-color: rgba(157, 252, 255, 0.15);
    border: 1px dashed teal;
}

.footer {
    background-color: rgb(75, 33, 33);
    color: #ffffff;
    padding: 20px 0;
    text-align: center;
    font-size: 12px;
}

@media (max-width: 768px) {
    .hero h1 {
        font-size: 32px;
    }

    .nav a {
        margin-left: 10;
        font-size: 14px
    }
}

/*salon detaylari */

.salon-detail h1 {
    text-align: center;
    margin-top: 120px;
    color: rgba(58, 166, 170);
    font-size: 40px;
}

.salon-detail-2 h1 {
    text-align: center;
    margin-top: 120px;
    color: rgb(94, 37, 37);
    font-size: 40px;
}

.salon-detail-3 h1 {
    text-align: center;
    margin-top: 120px;
    color: rgb(125, 119, 156);
    font-size: 40px;
}