* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: rgb(249, 252, 255);
    color: #333;
}

a {
    text-decoration: none;
    color: #333;
    transition: color 0.3s;
}

a:hover {
    color: rgb(221, 199, 169);
}

.container {
    width: 80%;
    margin: auto;
}

.header {
    background-color: rgb(111, 137, 141);
    padding: 9px;
    border-bottom: solid 2px #333;
}

.logo {
    font-size: large;
    font-weight: bold;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif cursive;
    color: rgb(221, 199, 169);
}

.nav {
    color: #333;
}

.hero {
    background-color: rgb(183, 199, 202);
    align-items: center;
    text-align: center;
    padding: 250px;
    display: flex;
}

.hero h1 {
    font-size: 70px;
    color: #333;
}

.hero p {
    font-size: 20px;
    color: #686868;
}

.salons {
    padding: 80px 0;
}

.salons h2 {
    text-align: center;
    font-size: 30px;
    margin-bottom: 50px;
}

.salon-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minimax(280px, 1fr));
    gap: 30px;
}

.salon-card {
    background-color: aliceblue;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 10px 30px rgb(111, 137, 141);
    transition: transform 0.3s, box-shadow 0.3s;
}

.salon-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.15);
}

.salon-card img {
    width: 100%;
    height: 220px;
    object-fit: cover;
}

.salon-info {
    padding: 20px;
    text-align: center;
}

.salon-info h3 {
    color: #333;
    margin-bottom: 10px;
}

.about {
    background-color: rgb(183, 199, 202);
    padding: 80px 0;
    text-align: center;
}

.about h2 {
    font-size: 35px;
    margin-bottom: 20px;
    color: #333;
}

.about p {
    color: #686868;
}

.contact {
    text-align: center;
    padding: 80px 0;
}

.contact h2 {
    font-size: 35px;
    margin-bottom: 20px;
}

.contact p {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.contact-number {
    background-color: rgb(183, 199, 202);
    border: 1px solid #333;
}

.footer {
    background-color: rgb(111, 137, 141);
    color: #333;
    padding: 20px 0;
    text-align: center;
    font-size: 12px;
}

@media (max-width: 768px) {
    .hero h1 {
        font-size: 32px;
    }

    .nav a {
        margin-left: 10;
        font-size: 14px
    }
}